dcbackend/.env
dcbackend/__pycache__/*


flutter-main/.dart_tool/
flutter-main/.idea/
flutter-main/.packages
flutter-main/.flutter-plugins
flutter-main/.flutter-plugins-dependencies
flutter-main/.vscode/
flutter-main/.metadata


.DS_Store
*.log
.vscode/
.idea/
*.iml
node_modules/
dist/
build/

.env
*.env
*.pyc
__pycache__/    
*.sqlite3
db.sqlite3
*.db
*.sqlite
coverage/
